{% extends "dashboard/base.html" %}

{% block content %}
<main style="margin-top: 58px">
  <div class="container pt-4">
        <!-- Section: Video -->
        <section class="mb-4">
        <div class="card">
        <div class="card-header py-3">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">
                    {{ video.title }}
                    </h5>
            </div>
            <div class="col-md-1">
                <span class="badge badge-primary">{{ video.category }}</span>
            </div>
        </div>
        </div>
        <div class="card-body">
        <div class="view" id="view">
        <!--Video source-->
        <video id="video" width="100%" class="video-container responsive" controls  autoplay loop>
        <source src="/{{ video.filename }}" type="video/mp4" />
        </video>
        </div>
        <h5 class="card-title mt-5 ">
            {{ video.title }}
            <!-- <a class="dropdown-item" href="" data-mdb-toggle="modal" data-mdb-target="#centercheck">enable recording</a> -->
            </h5>
        <p class="card-text ">
            {{video.description}}
          </p>
        <p>Share Video unique link : <a id="p1" href="http://{{ request.remote_addr }}:5000/video/watch/{{ video._id }}" onclick="copyToClipboard('#p1')">http://{{ request.remote_addr }}:5000/video/watch/{{ video._id }}</a></p>
          
        <!-- <form class="row row-cols-lg-auto g-3 align-items-center">
          <div class="form-group mt-2">
            <div class="form-outline">
              <label for="role">Share link with accounts</label>
              <select class="form-select" aria-label="Default select example" name="status" multiple>
                <option >Select Status</option>
                <option value="active">Active</option>
                <option value="deactive">Deactive</option>
              </select>
            </div>
            </div>
        </form> -->

        <div class="card-footer">
            <small class="text-muted">{{ video.created_at.strftime('%c') }}</small>

          </div>
        </div>
        </div>
        </section>
        <!-- Section: Video -->
    </div>
</main>
<main style="margin-top: 58px">
  <div class="container pt-4 mb-4">
    <div class="card shadow">
      
        
        <div class="card-body">
          <h3>Feedback</h3>        
          <hr>
          <div class="row">
            {% for feed in feedback%}
            <div class="col-md-6">
              <ul>
                <h4>#{{ loop.index }} out of #{{ loop.length }}</h4>
                 <ol>
                {% for i in feed.data %}
                <li>{{i}}</li> 
                <p>Ans : {{feed.data[i]}}</p> 
                {% endfor %}
              </ol>
              </ul>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>
    </div>
    </main>
<!-- Vertically centered modal -->
<!-- <div class="modal fade" id="centercheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Emotion</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Enable the recording?</div>
        <div class="modal-footer">
            <form action="" method="post">
              <button type="submit" class="btn btn-success" data-mdb-dismiss="modal">Start</button>
            </form>
          <button type="button" class="btn btn-primary" onClick="window.location.reload();">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->
  

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>
{% endblock %}