{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <img
        src=""
        height="16"
        alt="Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">  
        {% if session['logged_in'] %}
        {% if session['user']['role'] == 'admin' %}
        <button type="button" class="btn btn-primary me-3">
          <a href="{{ url_for('admin_dashboard') }}" style="color: white;" target="_blank">Admin Dashboard</a>
        </button>
        {% else %}
         <button type="button" class="btn btn-primary me-3">
           <a href="{{ url_for('dashboard') }}" style="color: white;" target="_blank">Dashboard</a>
         </button>
         {% endif %}
        
        {% else %}
        <button type="button" class="btn btn-link px-3 me-2">
          <a href="{{ url_for('login') }}"style="color: black;" target="_blank">Login</a> 
         </button>
         <button type="button" class="btn btn-primary me-3">
           <a href="{{ url_for('register') }}" style="color: white;" target="_blank">Sign up for free</a>
         </button>
        {% endif %}

        <a
          class="btn btn-dark px-3"
          href="https://github.com/Mapplecode/video-app-Ian-Nagy-"
          role="button"
          ><i class="fab fa-github"></i
        ></a>


      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

 <!-- Carousel wrapper -->
 <div id="carouselExampleIndicators" class="carousel slide mt-5 shadow" data-mdb-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100" alt="Sunset Over the City"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="Canyon at Nigh"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="col-md-12 mt-5 mb-5">
  <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
 </div>
<div class="row">
  <div class="col-md-6">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="img-thumbnail">
</div>
  <div class="col-md-6">
    <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
    <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
    <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
  </div>
</div>

<div class="col-md-12 mt-5 mb-5">
  <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
</div>

<div class="row mb-5">
  <div class="col-md-6">
    <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
    <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
    <p class="text-muted text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo natus provident numquam quaerat dolorem, iste incidunt facere consectetur, sunt totam ullam placeat quasi facilis suscipit cum in autem? Nam, provident.</p>
  </div>
  <div class="col-md-6">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="img-thumbnail">
</div>
</div>
{% endblock %}